<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.monmouth.s1175816.monmouthfinal">

    <!-- access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- get user location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- add google maps library -->
        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- include activities -->
        <activity android:name=".ui.main.academics.SchoolDetailActivity"></activity>
        <activity android:name=".ui.main.athletics.TicketWebActivity"></activity>
        <activity android:name=".ui.main.athletics.TeamActivity"></activity>
        <activity android:name=".ui.main.gallery.GalleryDetailActivity"></activity>
        <activity android:name=".ui.main.map.MapsActivity"></activity>
    </application>

</manifest>