<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login or Register</h1>
    <form>
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="email">Email: (fill in if registering)</label>
        <input type="text" name="email">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button type="button" onclick="login()">Login/Register</button>
    </form>
    <script src="scripts/login.js"></script>
</body>
</html>